APP_ENV=development # development/production

# Web Server Configs
WEB_SERVER_HOST=0.0.0.0
WEB_SERVER_PORT=8080

# Discord Bot Configs
DISCORD_TOKEN=your_token
GUILD_TEST_ID=guild_id # LOCAL ONLY - used to test command.

# Ion Configs - get your oauth application at https://ion.tjhsst.edu/oauth/applications
ION_CLIENT_ID=client_id
ION_SECRET_ID=secret_id

OAUTH_REDIR_URI=link # PRODUCTION ONLY
OAUTH_AUTH_URL=link
OAUTH_TOKEN_URL=link